<h1>Let the SHOW begin!</h1>

<canvas id="line" class="chart chart-line" chart-data="data"
  chart-labels="labels" chart-legend="true" chart-series="series"
  chart-click="onClick" >
</canvas> 

<hr>

<span>Avarage age is:{{avarage}}</span>
<br>
<span>Number of people between {{slider.min}} and {{slider.max}} yers old is: {{counter}}</span>
</span>
<br>
<rzslider
    rz-slider-model="slider.min"
    rz-slider-high="slider.max"
    rz-slider-options="slider.options"></rzslider>
<hr>


<h2>Browse all the people</h2>
<table ng-table="tableParams" class="table" show-filter="false" class="table table-striped">

	<tr ng-repeat="person in tableParams.data">
		<td title="'Gender'">{{person.gender}}</td>
		<td title="'Name'"
			filter="{name: 'text'}"
			sortable="'name'">{{person.name}}</td>
		<td title="'Lastname'">{{person.surname}}</td>
		<td title="'City'"
			filter="{city: 'text'}"
			sortable="'city'">{{person.city}}</td>
		<td title="'Country code'">{{person.country_abbr}}</td>
		<td title="'Country'">{{person.country_full}}</td>
		<td title="'Age'">{{person.age}}</td>
	</tr>
</table>


<br>
