<h1>Let the SHOW begin!</h1>

<span>Avarage age is:{{avarage}}</span>
<br>
<span>Number of people between {{slider.min}} and {{slider.max}} yers old is: {{counter}}</span>
</span>
<br>
<rzslider
    rz-slider-model="slider.min"
    rz-slider-high="slider.max"
    rz-slider-options="slider.options"></rzslider>
<hr>
<table class="table table-striped">
	<tr>
		<th>gender</th>
		<th>name</th>
		<th>surname</th>
		<th>city</th>
		<th>country_abbr</th>
		<th>country_full</th>
		<th>age</th>
	</tr>
	<tr ng-repeat="person in people | filter: filterAges | limitTo: 10">
		<td>{{person.gender}}</td>
		<td>{{person.name}}</td>
		<td>{{person.surname}}</td>
		<td>{{person.city}}</td>
		<td>{{person.country_abbr}}</td>
		<td>{{person.country_full}}</td>
		<td>{{person.age}}</td>
	</tr>
</table>


<br>
